.ck-content,
.c-body {
  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  > * {
    margin-block: 1lh;
  }

  h2 {
    margin-block: 1lh;
  }

  ul {
    padding-left: 1em;
  }

  li {
    display: list-item;
    margin: 0;
  }

  strong {
    font-weight: 500;
  }

  a:not([class]) {
    color: var(--clr-link);
    text-decoration: underline;
    text-underline-offset: 0.2em;
  }
}
