// adding a wrapper with overlow hidden fixes drag drop issues w/ mercury editor
.c-google-maps-wrapper {
  overflow: hidden;
}

.c-google-maps {
  overflow: clip;
  aspect-ratio: 1440 / 612;
  min-width: 100%;
  max-height: 600px;
  position: relative;
  > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  img[src$="marker.svg"] {
    border-radius: 100%;
    background: var(--clr-brand);
  }
}
