*,
*::after,
*::before {
  box-sizing: border-box;
  background-repeat: no-repeat;
  text-wrap: pretty;
}

html {
  text-size-adjust: none;
}

body {
  margin: 0;
}

svg {
  overflow: visible;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

button {
  cursor: pointer;
}
